<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ title+" - " if title else "" }} {{ name }}</title>
    
    <base href="/">

    <!-- <link rel="stylesheet" href="{{ vendor_dir }}bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body class="h-100">
    {% block content %}{% endblock %}

    <script src="{{ vendor_dir }}bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.min.js"></script>
</body>
</html>